build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
compile_commands.json
.cache/
*.exe
*.out
*.o
*.obj
*.a
*.lib
*.dll
*.pdb
*.ilk
.vs/
.idea/
Thumbs.db
desktop.ini
.DS_Store
src/test.cpp
